/* design a responsive bar */

/* reset all browser styling and  choose alt box model option*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: palevioletred;
  color: #fff;
}

.nav-links a {
  color: #fff;
  font-size: larger;
}

/* styling logo */

.logo {
  font-size: 32 px;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  padding: 5px 14px;
}

.menu :hover {
  background-color: maroon;
  border-radius: 5px;
  transition: 0.3s ease;
}

/* Responsive styling of the navbar */

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
