/*
selector{
    cssproperty : value;
}
*/

body {
  background-color: burlywood;
}

* {
  border: 2;
  margin: 2;
  padding: 2;
}

/*style the navbar */
#page_header {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar a {
  border: 1px solid brown;
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
}
